.header {
  display: flex;
  width: 100%;
  height: 46px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header__title {
  font-family: Kiona, sans-serif;
  font-size: 1.125rem;
}

.header__item--left, .header__item--right {
  flex: 1;
}
