.sticky-wrapper {
  width: 100%;
  height: 46px;
}

.header {
  display: flex;
  width: 100%;
  height: 46px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.header.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.05);
}

.header__title {
  font-family: Kiona, sans-serif;
  margin-left: 12px;
}
