html {
  font-size: 16px;
  font-family: GeosansLight, sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

p {
  margin-bottom: 0.5rem;
}

.cover-image {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sentinel {
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
}

.content-container {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-container:nth-child(even) {
  background-color: #f0ead6;
  background-color: rgb(222, 212, 203);
}

.image-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: Kiona, sans-serif;
  font-size: 2rem;
}

.separator {
  background: black;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
}
