.ContentBlock {
  background-color: white;
}

.ContentBlock:nth-child(even) {
  background-color: #f0ead6;
  background-color: rgb(222, 212, 203);
}

.ContentBlock-inner {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ContentBlock-imageContainerImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.ContentBlock-title {
  font-family: Kiona, sans-serif;
  font-size: 2rem;
}

.ContentBlock-separator {
  background: black;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .ContentBlock-inner {
    flex-direction: row;
  }

  .ContentBlock-imageContainer {
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
  }

  .ContentBlock-textContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
  }

  .ContentBlock:nth-child(even) .ContentBlock-inner {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .ContentBlock-inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}