.content-block {
  background-color: white;
}

.content-block:nth-child(even) {
  background-color: #f0ead6;
  background-color: rgb(222, 212, 203);
}

.content-block__inner {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-block__image-container-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.content-block__title {
  font-family: Kiona, sans-serif;
  font-size: 2rem;
}

.content-block__separator {
  background: black;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .content-block__inner {
    flex-direction: row;
  }

  .content-block__image-container {
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
  }

  .content-block__text-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
  }
}

@media screen and (min-width: 1024px) {
  .content-block__inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}