.CoronaInfo {
  background-color: rgb(222, 212, 203);
  padding: 4rem 2rem;
  text-align: center;
}

.CoronaInfo-title {
  font-family: Kiona, sans-serif;
  font-size: 2rem;
}

.CoronaInfo-important {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .CoronaInfo-inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}