.Hamburger {
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.Hamburger.is-active .Hamburger-inner,
.Hamburger.is-active .Hamburger-inner::before,
.Hamburger.is-active .Hamburger-inner::after {
  background-color: #000;
}

.Hamburger-box {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.Hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.Hamburger-inner,
.Hamburger-inner::before,
.Hamburger-inner::after {
  width: 22px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.Hamburger-inner::before,
.Hamburger-inner::after {
  content: "";
  display: block;
}

.Hamburger-inner::before {
  top: -7px;
}

.Hamburger-inner::after {
  bottom: -14px;
}

.Hamburger--slider .Hamburger-inner {
  top: 2px;
}

.Hamburger--slider .Hamburger-inner::before {
  top: 7px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.Hamburger--slider .Hamburger-inner::after {
  top: 14px;
}

.Hamburger--slider.is-active .Hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.Hamburger--slider.is-active .Hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.Hamburger--slider.is-active .Hamburger-inner::after {
  transform: translate3d(0, -14px, 0) rotate(-90deg);
}
