.header {
  position: relative;
}

.header__sentinel {
  background: transparent;
  position: absolute;
  top: -256px;
  left: 0;
  width: 100%;
  height: 256px;
}

.header__container {
  width: 100%;
  height: 49px;
  background-color: white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: Kiona, sans-serif;
  font-size: 1.125rem;
}

.header__item--left,
.header__item--right {
  flex: 1;
}

.header__sticky-wrapper {
  width: 100%;
  height: 49px;
}

.header__container.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 1024px) {
  .header__inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}
