.Header {
  position: relative;
}

.Header-sentinel {
  background: transparent;
  position: absolute;
  top: -256px;
  left: 0;
  width: 100%;
  height: 256px;
}

.Header-container {
  width: 100%;
  height: 49px;
  background-color: white;
}

.Header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-title {
  font-family: Kiona, sans-serif;
  font-size: 1.125rem;
}

.Header-item--left,
.Header-item--right {
  flex: 1;
}

.Header-stickyWrapper {
  width: 100%;
  height: 49px;
}

.Header-container.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 1024px) {
  .Header-inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}
