body.modal-active {
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
}

.Modal-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  visibility: hidden;
  backface-visibility: hidden;
}

.Modal-show {
  visibility: visible;
}

.Modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background-color: rgb(222, 212, 203);
  transition: all .3s;
}

.Modal-hamburgerContainer {
  position: static;
  z-index: 1001;
  user-select: none;
}

.Modal-content {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.Modal-show ~ .Modal-overlay {
  opacity: 1;
  visibility: visible;
}

.Modal-effect .Modal-content {
  transform: scale(.8);
  opacity: 0;
  transition: all .3s;
}

.Modal-show.Modal-effect .Modal-content {
  transform: scale(1);
  opacity: 1;
}

.Modal-linkContainer {
  font-family: Kiona, sans-serif;
  padding: .25rem;
  text-align: center;
  font-size: 1.5rem;
  user-select: none;
}

.Modal-linkContainer a {
  display: inline-block;
  line-height: 2rem;
  text-decoration: none;
  transform: scale(1);
  will-change: transform;
  transition: transform .2s ease;
}

.Modal-linkContainer a:hover {
  transform: scale(1.1);
}

@media screen and (min-height: 624px) {
  .Modal-linkContainer {
    padding: .5rem;
  }
}

@media screen and (min-width: 768px) {
  .Modal-content {
    align-items: center;
  }
}