body.modal-active {
  overflow: hidden;
}

.md-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 640px;
  z-index: 1001;
  visibility: hidden;
  backface-visibility: hidden;
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background-color: rgb(222, 212, 203);
  transition: all .3s;
}

.md-hamburger-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}

.md-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-effect .md-content {
  transform: scale(.8);
  opacity: 0;
  transition: all .3s;
}

.md-show.md-effect .md-content {
  transform: scale(1);
  opacity: 1;
}

.md-content__link-wrapper {
  font-family: Kiona, sans-serif;
  padding: .5rem;
  text-align: center;
  font-size: 1.5rem;
}

.md-content__link-wrapper a {
  line-height: 2rem;
  text-decoration: none;
}

.md-content__link-wrapper a:hover {
  font-size: 1.625rem;
}
